@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@300&family=Oswald:wght@300&display=swap');

body {
    background-image: url('../images/pexels-carlos-oliva-3586966.jpg');
    font-family: Nunito, sans-serif;
    color: white;
    text-align: center;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */

.game-area {
    background-color: #1A03AD;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: Nunito, sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 10%;
    background-color: white;
    border: 10px solid;
    width: 200px;
    height: 85px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
    padding: 5%;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 1.5rem;
    color: #000000;
    position: relative;
    text-align: center;
}

.btn--pheobe {
    border-color: yellow;
    color: yellow;
}

.btn--pheobe:active,
.btn--pheobe:hover {
    background-color: darkgoldenrod;
    color: white;
}

.btn--joey {
    border-color: yellow;
    color: yellow;
}

.btn--joey:active,
.btn--joey:hover {
    background-color: darkgoldenrod;
    color: white;
}

.btn--ross {
    border-color: red;
    color: red;
}

.btn--ross:active,
.btn--ross:hover {
    background-color: darkred;
    color: white;
}

.btn--chandler {
    border-color: blue;
    color: blue;
}

.btn--chandler:active,
.btn--chandler:hover {
    background-color: navy;
    color: white;
}

.btn--rachel {
    border-color: red;
    color: red;
}

.btn--rachel:active,
.btn--rachel:hover {
    background-color: darkred;
    color: white;
}

.btn--monica {
    border-color: blue;
    color: blue;
}

.btn--monica:active,
.btn--monica:hover {
    background-color: navy;
    color: white;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }

    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

    .question-area {
        padding: 10px 0;
    }

}